@import "/src/assets/css/variables.scss";

.Repository {
  &__search_container {
    margin-bottom: 1.5rem;
  }

  &__repositories {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    grid-auto-rows: minmax(100%, auto);

    @media (max-width: $breakpoint-lg) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: $breakpoint-md) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: $breakpoint-xs) and (max-width: $breakpoint-sm) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

.CardContent {
  display: flex;
  flex-direction: column;

  &__description {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
  }

  &__lang_container {
    margin-top: 0.2rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}
